<div>
<h1> Image </h1>
</div>

{% schema %}

{
 "name": "Custom Image",
 "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Heading"
    }
 ],
 "presets": [
    {
     "name": "Custom Image"
    }
 ]
}

{% endschema %}